<input class="my-5 mx-10 text-xl bg-transparent text-gray-700 italic w-full" autofocus="" #newTodo (keyup.enter)="add(newTodo.value); newTodo.value = ''" (keyup.escape)="newTodo.value = ''" placeholder="What needs to be done?">

<div cdkDropList [cdkDropListData]="items" *ngIf="items.length" (cdkDropListDropped)="drop($event)" class="rounded-md shadow-sm bg-white border border-gray-400">
    <div *ngFor="let item of items" cdkDrag [cdkDragData]="item" [class.bg-gray-300]="item.completed" class="group flex py-5 px-5 cursor-move text-xl border-gray-400 border-b">
        <div class="w-11/12" *ngIf="editing != item">
            <svg class="inline stroke-current w-4 h-4 cursor-pointer text-gray-400 hover:text-orange-600" [class.text-green-600]="item.completed" (click)="toggle(item)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span (click)="startEditing(item)" class="pl-2 cursor-text" [class.line-through]="item.completed" [class.text-gray-600]="item.completed">{{ item.name }}</span>
        </div>
        
        <div class="w-1/12 text-right" *ngIf="editing != item">
            <button (click)="remove(item)" class="focus:outline-none h-1 ml-3 px-2 text-gray-600 hover:text-red-600 hidden group-hover:inline hover:underline cursor-pointer">
                <svg class="inline h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
            </button>
        </div>    

        <input *ngIf="editing == item" class="px-6 w-full focus:italic" [value]="item.name" #editedTodo (keyup.enter)="update(item, editedTodo.value); stopEditing()" (keyup.escape)="stopEditing()" (blur)="update(item, editedTodo.value); stopEditing()" placeholder="What needs to be done?">
    </div>
</div>